html {
  min-height: 100%;
}
body {
  /* padding: 50px; */
  margin: 12%;
  display: flex;
  font-family: sans-serif;
  background: linear-gradient(to top left, #000066 0%, #0099ff 100%);
}
@media only screen and (max-device-width: 480px) {
  html {
    min-height: 100%;
}
  body{
    margin: -3% 4% 61% 11%;
  }
}
