:root {
    --btn-font-color: #002244;
    --btn-background: #89CFF0;
    --title-text-color: #F0F8FF;
}
.title{
    color: var(--title-text-color);
    margin: 1rem 10rem 1rem 27rem;   
}
.app-logo{
    max-width: 28%;
    margin: 1rem 10rem 1rem 25rem;
    display: flex;
}
.form-container{
    margin: 2rem 1rem 1rem 12rem;

}
.input-task{
    padding: 1rem;
    width: 65%;
    border-radius: 0.5rem;
    border: solid 1px black;
}
.add-btn{
    margin-left: 0.5rem;
    padding: 1rem;
    width: 15%;
    border-radius: 0.5rem;
    border: solid 1px black;
    background-color: var(--btn-font-color);
    color: var(--title-text-color);
}
@media only screen and (max-device-width: 480px) {
    .app-logo{
        margin: 10rem 0rem 1rem 3rem;
        max-width: 65%;
        
    }
    .title{
        margin: 1rem 1rem 1rem 3rem;
    }
    .form-container{
        margin: 1rem 1rem 1rem 3rem;
    }
    .add-btn{
        width: 30%;
    }
    .input-task{
        width: 70%;
        margin-left: -3rem; 
    }
}