:root {
    --btn-font-color: #002244;
    --btn-background: #89CFF0;
    --title-text-color: #F0F8FF;
}
.title{
    color: var(--title-text-color);
    margin: 1rem 10rem 1rem 33rem;   
}
.app-logo{
    max-width: 22%;
    margin: 1rem 10rem 1rem 30rem;
}
.form-container{
    margin: 2rem 1rem 1rem 15rem;

}
.input-task{
    padding: 1rem;
    width: 65%;
    border-radius: 0.5rem;
    border: solid 1px black;
}
.add-btn{
    margin-left: 0.5rem;
    padding: 1rem;
    width: 15%;
    border-radius: 0.5rem;
    border: solid 1px black;
}